*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
h1{
    display: flex;
    justify-content: center;
    margin-top: 10vh;
    text-align: center;
    font-size: 56px;
    color: #d714a9;
}

body{
    flex-direction: column;
    background: linear-gradient(135deg, 
    rgb(253, 165, 179, 0.7),  /* pink 50%透明度 */
    rgba(0, 0, 255, 0.7)      /* blue 50%透明度 */
    );
    background-size: cover;
    background-attachment: fixed;
}
nav{
    background-color: rgba(202, 193, 193, 0.5);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 10px 20px;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    border-radius: 1000px;
    gap: 20px;
    
}
nav button{
    background-color: rgba(255, 255, 255, 0.7);
        height: 25px;
        width: 50px;
        border-radius: 10px;
        transition: scale 0.5s;
        cursor: pointer;
        justify-content: center;
        border: none;
}
nav button:hover{
    box-shadow: 0 0 5px rgba(16, 160, 226, 0.8);
    scale: calc(1.2);
}
.active{
    scale: calc(1.5);
    background: linear-gradient(135deg, 
    rgba(233, 9, 47, 0.3),  /* pink 50%透明度 */
    rgba(0, 0, 255, 0.3)      /* blue 50%透明度 */
    );
    box-shadow: 0 0 5px rgba(223, 5, 150, 0.8);
}
.content{
    opacity: 0;
    transition:opacity 0.5s;
    visibility: hidden;
}
.content.visible{
    visibility: visible;
    opacity: 1;
}
.work{
    margin-top: 25vh;
    
}
.work ul{
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 10px;
    text-align: center;
    font-size: 18px;
}
.work ul li{
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px 20px;
    height: 50px;
    width: 120px;
    border-radius: 10px;
    transition:all 0.5s;
    cursor: pointer;
    justify-content: center;
    overflow: hidden;
}
.work ul li:hover{
    background-color: rgba(255, 255, 255, 0.5);
    width: 250px;
    height: 480px;
}
.work ul li a{
    margin-top: 16px;
    display: block;
    padding: 5px;
    text-align: center;
    border-radius: 25px;
    text-decoration: none;
    background-color: purple;
    color: white;
    font-weight: 500;
    transition: all 0.5s;
}
.work ul li a:hover{
    color: #0cd11d;
    scale: calc(1.2);
    transition: 0.5s;
}
.music{
    background-color: rgba(202, 193, 193, 0.5);
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        position: fixed;
        top: 0;
        right: 0;
        display: flex;
        width: 300px;
        height: 70px;
        align-items: flex-end;
        flex-wrap: wrap;
        justify-content: center;
        border-radius:1000px;
}
.musicName{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    align-self: start;
    justify-self: start;
    font-size: 1.2em;
    
}
.music button{
        height: 25px;
        width: 50px;
        border-radius: 10px;
        transition: scale 0.5s;
        cursor: pointer;
        justify-content: center;
        border: none;
        margin-bottom: 5px;
}
#play{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 30px;
    border-radius: 50px;
    font-size: 20px;
    transition: scale 0.5s;
}
#play:hover{
    box-shadow: 0 0 5px rgba(16, 160, 226, 0.8);
    scale: calc(1.2);
}

footer {
    text-align: center;
    position: fixed;
    bottom: 10px;
    left: 0;
    width: 100%;
    height: 50px;
    line-height: 5px;
    color: #fff;
    font-size: 13px;
    color: rgba(85, 85, 85, 0.8);
}

footer a {
    color: rgba(10, 24, 223, 0.8);
    text-decoration: none;
    display: inline-block;

}

footer p {
    margin: 10px;
}

footer a:hover {
    border-radius: 5px;
    scale: calc(1.2);
    transition: 0.5s;
}

