*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
h1{
    display: flex;
    justify-content: center;
    margin-top: 10vh;
    text-align: center;
    font-size: 56px;
    color: #d714a9;
}

body{
    flex-direction: column;
    background: linear-gradient(135deg, 
    rgb(253, 165, 179, 0.7),  /* pink 50%透明度 */
    rgba(0, 0, 255, 0.7)      /* blue 50%透明度 */
    );
    background-size: cover;
    background-attachment: fixed;
}
footer{
    text-align: center;
    position:fixed;
    bottom: 10px;
    left: 0;
    width: 100%;
    height: 50px;
    line-height: 5px;
    color: #fff;
    font-size: 13px;
    color: rgba(85, 85, 85, 0.8);
}
footer a{
    color: rgba(10, 24, 223, 0.8);
    text-decoration: none;
    display: inline-block;
    
}
footer p{
    margin: 10px;
}
footer a:hover{
    border-radius: 5px;
    scale: calc(1.2);
    transition: 0.5s;
}

.guide ul{
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 10px;
    text-align: center;
    font-size: 18px;
}
.guide ul li{
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px 20px;
    height: 50px;
    width: 120px;
    border-radius: 10px;
    transition: all 0.5s;
    cursor: pointer;
    justify-content: center;
    overflow: hidden;
}
.guide ul li:hover{
    background-color: rgba(255, 255, 255, 0.5);
    width: 250px;
    height: 480px;
}
.guide ul li a{
    margin-top: 16px;
    display: block;
    padding: 5px;
    text-align: center;
    border-radius: 25px;
    text-decoration: none;
    background-color: purple;
    color: white;
    font-weight: 500;
    transition: all 0.5s;
}
.guide ul li a:hover{
    color: #0cd11d;
    scale: calc(1.2);
    transition: 0.5s;
}


