*{
	margin: 0;
	padding: 0;
}
.top-bar{
	width: 1226px;
    border-radius: 5px;
    background-color: rgb(64, 64, 64);
    height:40px;
	/* display: flex; */
}
.top-bar .wrap{
	width: 1226px;
	height: 40px;
	color:rgb(206, 206, 206);
    font-size: 13px;
    line-height: 40px;/*垂直居中*/
    margin: 0 auto;
	
}
	
.top-bar .wrap a{
	color: rgb(206, 206, 206);
	text-decoration: none;
    
}
.top-bar .wrap a:hover{
	color:white;
}
.top-bar .wrap span{
	margin: 0 5px 0 5px;
}
.top-bar .wrap .left{
	float: left;
	/* background-color: bisque; */
	
}
.top-bar .wrap .right{
	float: right;
	/* background-color: bisque; */
    padding-right: 100px;
	
}
.car{
	display:inline-block;
	height: 40px;
	width: 150px
}
.car ul{
	list-style-type: none;
	color:rgb(0, 0, 0);
    /* background-color: blue; */
    width:200px;
	height:100px;
	transform: translateX(80%);
	background-color: #e01499;
	display:none;
	position: absolute;
	right:300px;
	top:35px;
	box-shadow: -2px 2px 2px 2px gray;
} 
.car:hover ul{
	display:block;
}
.strike{
	border-bottom: 30px solide red;
	border-left:30px solid transparent;
	border-right:30px solid transparent ;
    top:80px;	
	background-color: aqua;
}
.top-nav{
	width:1226px;
	height:100px;
	background-color: aqua;
	margin: 0 auto;
	
	
}
.logo{
	float: left;
	width:290px;
	height:100px;
	background-color: red;
	
	
}
.logo img{
	width: 100%;       /* 宽度铺满父盒子 */
	height: 100%;      /* 高度铺满父盒子 */
	object-fit: cover;
}

.search{
	position: relative;
	float: right;
	width:350px;
	height:100px;
	background-color: red;
	line-height: 100px;
	
}
.search input{
	width: 200px;
	height: 50px;
	border: blanchedalmond;
	outline: none;
}
.search button{
	transform: translateX(-7%);
	width: 52px;
	height: 52px;
	border: 1px solid rgb(28, 9, 9);
	
}
.search button:hover{
	background-color: orange;

}
.banner{
	width: 1226px;
	height: 500px;
	background-color: antiquewhite;
}
.banner .aside{
	width: 290px;
	height: 500px;
	background-color: rgb(0, 0, 0,0.2);
}
.banner .aside ul{
	list-style: none;
}
.banner .aside li{
	height: 30px;
	line-height: 30px;
	width: 290px;
	background-color: rgba(22, 11, 11, 0.1);
	border-radius: 5px;
	cursor: pointer;
	transition: all 0.7s;
}
.banner .aside li:hover{
	height: 40px;
	line-height: 40px;
}